global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "warehouse-app"
    metrics_path: /actuator/prometheus
    static_configs:
      - targets:
          - "app:8080"
  - job_name: "postgres"
    static_configs:
      - targets:
          - "postgres-exporter:9187"
rule_files:
  - "alerts.yml"
alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"