 name: Warehouse-order-management system
 on:
    push:
      branches:
        - main
    pull_request:
      branches:
        - main
 jobs:
    build-test-docker:
      runs-on: ubuntu-latest
      env:
        image: mydockerhub/warehouse-app
        AZURE_WEBAPP_NAME: your-azure-resource-app
        AZURE_RESOURCE_GROUP: azure-resource-group
        AZURE_REGION: your-azure-region
      steps:
        - name: checkout code
          uses: actions/checkout@v3
          with:
            distribution: 'termurin'
            java-version: '17'

        - name: Build and Test
          run: mvn clean package

        - name: Set up docker Build
          uses: docker/setup-buildx-action@v2
        - name: Login in to Docker Hub
          uses : docker/login-action@v2
          with :
            username: ${{secrets.DOCKER_USERNAME}}
            password: ${{secrets.DOCKER_PASSWORD}}
        - name : Build Docker image
          run : | 
              docker build -t $IMAGE_NAME:${{github.sha}} .
        - name: Push Docker Image
          run: |
             docker pull $IMAGE_NAME:${{github.sha}}
        - name : Azure Login
          uses : azure/login@v1
          with :
            creds : ${{secrets.AZURE_CREDENTIALS}}
        - name: Deploy to Azure Webpage
          uses: azure/webapps-deploy@v2
          with:
            app-name: ${{env.AZURE_WEBAPP_NAME}}
            slot-name: production
            images: $IMAGE_NAME:${{github.sa}}


