 name: Warehouse-order-management system
 on:
    push:
      branches:
        - main
    pull_request:
      branches:
        - main
 env:
   IMAGE_NAME: warehouse-app
   AZURE_WEBAPP_NAME: warehouse-app-demo

 jobs:
    build-test-docker:
      runs-on: ubuntu-latest


      steps:
        - name: checkout code
          uses: actions/checkout@v3
          with:
            distribution: 'termurin'
            java-version: '17'

        - name: Build and Test
          run: mvn clean package

        - name: Set up docker Build
          uses: docker/setup-buildx-action@v2
        - name: Login in to Docker Hub
          uses : docker/login-action@v2
          with :
            username: ${{secrets.DOCKER_USERNAME}}
            password: ${{secrets.DOCKER_PASSWORD}}
        - name : Build Docker image
          run : | 
              docker build -t $IMAGE_NAME:${github.sha} .
             docker tag $IMAGE_NAME:${github.sha} $IMAGE_NAME:latest
        - name: Push Docker Image
          run: |
             docker push $IMAGE_NAME:${github.sha}
             docker push $IMAGE_NAME:latest
        - name : Azure Login
          uses : azure/login@v1
          with :
            creds : ${{secrets.AZURE_CREDENTIALS}}
        - name: Deploy to Azure Webpage
          uses: azure/webapps-deploy@v2
          with:
            app-name: ${{env.AZURE_WEBAPP_NAME}}
            slot-name: demo
            images: ${{secrets.DOCKER_USERNAME}}/${{IMAGE_NAME}}:latest


