 name: Warehouse-order-management app
 on:
    push:
      branches:
        - main
    pull_request:
      branches:
        - main
 env:
   IMAGE_NAME: warehouse-app
   AZURE_WEBAPP_NAME: warehouse-app-demo

 jobs:
    build-test-docker:
      runs-on: ubuntu-latest


      steps:
        - name: checkout code
          uses: actions/checkout@v3
          with:
            distribution: 'termurin'
            java-version: '17'

        - name: Build  + Unit + Integration Test
          run: mvn clean verify
        - name: SonarQube Scan
          run : |
            mvn sonar:sonar \
            -Dsonar.projectKey=davewish14_warehouse \
            -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
            -Dsonar.token=${{ secrets.SONAR_TOKEN }}

        - name: Set up docker Build
          uses: docker/setup-buildx-action@v2
        - name: Login in to Docker Hub
          uses : docker/login-action@v2
          with :
            username: ${{secrets.DOCKER_USERNAME}}
            password: ${{secrets.DOCKER_PASSWORD}}
        - name : Build Docker image
          run : |
            docker build -t ${{secrets.DOCKER_HUB_USERNAME}}/${{env.IMAGE_NAME }}:${{ github.sha }} .
            docker tag ${{secrets.DOCKER_HUB_USERNAME}}/${{env.IMAGE_NAME }}:${{ github.sha }} ${{secrets.DOCKER_HUB_USERNAME}}/${{ env.IMAGE_NAME }}:latest
        - name: Push Docker Image
          run: |
            docker push ${{secrets.DOCKER_HUB_USERNAME}}/${{ env.IMAGE_NAME }}:${{ github.sha }}
             docker push ${{secrets.DOCKER_HUB_USERNAME}}/${{env.IMAGE_NAME }}:latest
        - name : Azure Login0
          uses : azure/login@v1
          with :
            creds : ${{secrets.AZURE_CREDENTIALS}}
        - name: Deploy to Azure Webpage
          uses: azure/webapps-deploy@v2
          with:
            app-name: ${{env.AZURE_WEBAPP_NAME}}

            images: ${{secrets.DOCKER_HUB_USERNAME}}/${{env.IMAGE_NAME}}:latest
            package : .


